In [1]:
import pandas as pd

In [2]:
from time import time

In [3]:
from sqlalchemy import create_engine

In [4]:
from pyarrow.parquet import ParquetFile
import pyarrow as pa 

pf = ParquetFile('output.parquet') 
all_batch = pf.iter_batches(batch_size = 100000)

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
batch = next(all_batch)
df = pa.Table.from_batches([batch]).to_pandas()

In [8]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [9]:
pd.io.sql.get_schema(df , name='yellow_taxi_data', con = engine)

'\nCREATE TABLE yellow_taxi_data (\n\t"VendorID" BIGINT, \n\ttpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, \n\ttpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, \n\tpassenger_count FLOAT(53), \n\ttrip_distance FLOAT(53), \n\t"RatecodeID" FLOAT(53), \n\tstore_and_fwd_flag TEXT, \n\t"PULocationID" BIGINT, \n\t"DOLocationID" BIGINT, \n\tpayment_type BIGINT, \n\tfare_amount FLOAT(53), \n\textra FLOAT(53), \n\tmta_tax FLOAT(53), \n\ttip_amount FLOAT(53), \n\ttolls_amount FLOAT(53), \n\timprovement_surcharge FLOAT(53), \n\ttotal_amount FLOAT(53), \n\tcongestion_surcharge FLOAT(53), \n\tairport_fee FLOAT(53)\n)\n\n'

In [7]:
df.head(n=0).to_sql(name='yellow_taxi_data', con = engine, if_exists='replace')

0

In [14]:
df.to_sql(name='yellow_taxi_data', con = engine, if_exists='append')

1000

In [11]:
batch = next(all_batch)
df = pa.Table.from_batches([batch]).to_pandas()
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2022-01-02 17:01:46,2022-01-02 17:01:51,2.0,0.00,1.0,N,132,132,2,2.5,0.0,0.5,0.00,0.0,0.3,3.30,0.0,0.00
1,2,2022-01-02 17:02:13,2022-01-02 17:43:48,2.0,17.64,2.0,N,132,237,1,52.0,0.0,0.5,11.31,0.0,0.3,67.86,2.5,1.25
2,2,2022-01-02 17:20:29,2022-01-02 17:26:04,1.0,0.85,1.0,N,68,68,1,5.5,0.0,0.5,1.76,0.0,0.3,10.56,2.5,0.00
3,2,2022-01-02 17:29:31,2022-01-02 17:31:20,1.0,0.53,1.0,N,90,68,1,3.5,0.0,0.5,1.36,0.0,0.3,8.16,2.5,0.00
4,2,2022-01-02 17:36:55,2022-01-02 17:46:02,1.0,2.20,1.0,N,68,142,1,9.0,0.0,0.5,2.46,0.0,0.3,14.76,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2022-01-04 08:14:06,2022-01-04 08:24:52,4.0,1.81,1.0,N,237,239,1,9.5,0.0,0.5,1.28,0.0,0.3,14.08,2.5,0.00
99996,2,2022-01-04 08:27:30,2022-01-04 08:33:25,3.0,1.12,1.0,N,239,237,1,6.5,0.0,0.5,1.70,0.0,0.3,11.50,2.5,0.00
99997,1,2022-01-04 08:24:34,2022-01-04 08:32:15,1.0,1.70,1.0,N,170,237,1,8.0,2.5,0.5,1.00,0.0,0.3,12.30,2.5,0.00
99998,1,2022-01-04 08:33:49,2022-01-04 08:37:47,1.0,0.90,1.0,N,141,263,1,5.0,2.5,0.5,1.65,0.0,0.3,9.95,2.5,0.00
99999,1,2022-01-04 08:48:49,2022-01-04 08:56:59,1.0,1.60,1.0,N,237,164,2,8.0,2.5,0.5,0.00,0.0,0.3,11.30,2.5,0.00

In [13]:
df.to_sql(name='yellow_taxi_data', con = engine, if_exists='append')

1000

In [12]:
# while True: 
#     try: 
#         t_start = time()

#         batch = next(all_batch)
#         df = pa.Table.from_batches([batch]).to_pandas()

#         df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#         df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
#         df.to_sql(name='yellow_taxi_data', con = engine, if_exists='append')
#         t_end = time()
#         print('inserted another chunk, took %.3f second' %(t_end-t_start))
#     except StopIteration: 
#         print("Finished ingesting data into the postgres database. ")
#         break